.careers-section {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
}

.careers-section-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  gap: 40px;
  width: 100%;
  padding: 0 20px;
  place-items: center;
}

.careers-card-wrapper {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.5s ease, filter 0.5s ease;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 0 5px hsla(0, 0%, 0%, 0.5));
}

.careers-card-wrapper:hover {
  transform: translateY(-10px) !important;
  filter: drop-shadow(0 0 10px hsla(0, 0%, 0%, 0.25));
}

.careers-card-img {
  width: 100%;
  object-fit: cover;
}

.careers-card-content {
  background-color: #f4f4f4;
  color: #1a1a18;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: -25%;
  margin-right: 2rem;
  justify-self: flex-end;
  position: relative;
  transition: transform 0.8s ease;
}
.careers-card-wrapper:hover .careers-card-content {
  transform: translateY(-40%);
}
.careers-card-content h3 {
  color: #36308a;
  margin-bottom: 10px;
}

.careers-card-content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.careers-card-buttons {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.careers-btn {
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  transition: background-color 0.3s ease, border 0.3s ease;
  text-align: center;
  flex: 1;
}

.apply-btn {
  background-color: #36308a;
}

.apply-btn:hover {
  background-color: #3ed4ef;
}

.details-btn {
  background-color: transparent;
  border: 2px solid #3ed4ef;
  color: #1a1a18;
}

.details-btn:hover {
  border: 2px solid #36308a;
}

@media (max-width: 1200px) {
  .careers-section {
    padding: 30px;
  }

  .careers-section-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .careers-card-content {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-top: -40%;
    padding: 10px;
  }

  .careers-card-buttons {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .careers-btn {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .careers-section-wrapper {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

@media (max-width: 480px) {
  .careers-section {
    padding: 20px;
  }

  .careers-section-wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .careers-card-content {
    padding: 12px;
    width: 95%;
    margin-right: 5px;
  }
  .careers-content-details h3 {
    font-size: 1rem;
  }

  .careers-content-details p {
    font-size: 0.9rem;
  }
  .careers-btn {
    font-size: 14px;
  }
}
