.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #36308a;
  height: 90vh;
  overflow: hidden;
  color: #fff;
}

.hero-left {
  z-index: 10;
  padding: 4rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 70%;
  position: relative;
  z-index: 2;
  background-color: #36308a;
}

.tagline {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #3ed4ef;
  font-weight: 600;
  text-transform: uppercase;
  width: 80%;
}

/* .hero-left h1 {
  font-size: 4rem;
  width: 90%;
  line-height: 1.4;
  margin: 1rem 0;
  text-align: left !important;
} */

.hero-left h1 {
  font-size: 4vw;
  width: 90%;
  line-height: 1.4;
  margin: 1rem 0;
  text-align: left !important;
}

.hero-word {
  display: inline-block;
  white-space: pre;
}

.highlight {
  color: #3ed4ef;
  background: linear-gradient(
    120deg,
    #3ed4efcc 30%,
    #ffffff 40%,
    #3ed4efcc 50%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.subtext {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #d1d1d1;
  width: 60%;
  line-height: 1.5;
}

.hero-button {
  background-color: #3ed4ef;
  color: #fff;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #2bb8d4;
  transform: translateY(-5px);
  box-shadow: 0 0 0 #fff, 0 0 0 #fff, inset 0px -3px 5px 0 #fff, 0 0 0 #fff;
}

.spring-circle {
  position: absolute;
  animation: circle-spin 5s linear infinite;
  z-index: -1;
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
  left: -25%;
}

@keyframes circle-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slash-mask {
  position: absolute;
  top: 0;
  left: 75%;
  transform: translateX(-75%);
  overflow: hidden;
  z-index: 4;
  height: 100vh;
  user-select: none;
  pointer-events: none;
}

.hero-slash {
  height: 90vh;
  width: auto;
  pointer-events: none;
}

.hero-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 3;
  user-select: none;
  pointer-events: none;
}

.hero-image {
  width: auto;
  height: 90vh;
  object-fit: cover;
  display: block;
}

.hero-image-mobile {
  display: none;
  border-radius: 18px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #36308a;
  z-index: 3;
}

@media screen and (max-width: 1240px) {
  .slash-mask {
    left: 65%;
    transform: translateX(-65%);
    height: 80vh;
  }

  .spring-circle {
    height: 70%;
  }

  .hero-left {
    padding: 4rem;
  }

  .hero-left h1 {
    font-size: 3vw;
  }

  .tagline {
    font-size: 1.3rem;
    width: 60%;
  }
}
@media screen and (max-width: 1024px) {
  .hero-section {
    height: 80vh;
  }
  .slash-mask {
    left: 60%;
    transform: translateX(-60%);
    height: 80vh;
  }

  .hero-slash {
    height: 80vh;
    width: 350px;
  }

  .spring-circle {
    height: 60%;
  }

  .hero-left {
    padding: 3rem;
  }

  .hero-left h1 {
    font-size: 2rem;
  }

  .hero-image {
    height: 80vh;
    width: auto;
  }

  .tagline {
    font-size: 1.3rem;
  }

  .subtext {
    font-size: 1rem;
  }
}
@media screen and (max-width: 950px) {
  .hero-left {
    padding: 2rem;
  }
  .hero-right {
    right: -15%;
  }

  .slash-mask {
    left: 70%;
    transform: translateX(-70%);
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    gap: 2rem;
  }

  .spring-circle {
    height: 100%;
    left: 25% !important;
  }

  .hero-left {
    padding: 1rem;
    width: 90%;
    margin: auto;
  }

  .hero-left h1 {
    font-size: 6vw;
    width: 100%;
    margin: 0;
  }

  .tagline {
    font-size: 1rem;
    width: 100%;
  }

  .subtext {
    font-size: 1.2rem;
    margin: 15px 0;
    width: 100%;
  }

  .hero-right {
    position: relative;
    right: 0;
  }

  .hero-image {
    display: none;
  }

  .hero-image-mobile {
    display: block;
    width: 90%;
    margin: auto;
  }

  .slash-mask {
    display: none;
  }

  .spring-circle {
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
  }

  .hero-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .hero-section {
    padding: 0;
    padding-bottom: 2rem;
    height: auto;
    gap: 1rem;
  }

  .hero-left {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 1.8rem;
    text-align: left !important;
    line-height: 1.6;
  }

  .tagline {
    font-size: 1rem;
    line-height: 1.6;
  }

  .subtext {
    font-size: 1rem;
    line-height: 1.6;
  }

  .spring-circle {
    max-width: 300px;
  }

  @keyframes circle-spin {
    0% {
      transform: translateX(-25%) rotate(0deg);
    }
    100% {
      transform: translateX(-25%) rotate(360deg);
    }
  }

  .hero-button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  .hero-left {
    padding: 1.5rem;
  }
}
