.navbar {
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
  box-sizing: border-box;
  background-color: transparent;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000004d;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: top;
  pointer-events: none;
  transition: transform 0.8s ease, opacity 0.8s ease;
  z-index: -1;
}

.navbar.scrolled::before {
  transform: scaleY(1);
  opacity: 1;
}

.navbar-logo-img-desktop {
  height: 64px;
  transition: transform 0.3s ease, height 0.5s ease;
}

.navbar-logo-img-desktop.scrolled {
  height: 44px;
}
.navbar-logo:hover img {
  transform: scale(1.02);
}

.navbar-logo-img-mobile {
  display: none;
}

.navbar-links {
  display: flex;
  gap: 2.5rem;
}

.nav-item {
  display: flex;
  color: #1a1a18;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s ease;
  margin-bottom: 8px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  paint-order: stroke fill;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background-color: #3ed4ef;
  border-radius: 2px;
  transition: width 0.3s ease;
}

.nav-item:hover {
  color: #3ed4ef;
}

.nav-item:hover::after {
  width: 100%;
}

.active-link {
  color: #3ed4ef !important;
  -webkit-text-stroke: 0;
}

.active-link::after {
  background-color: #3ed4ef;
  width: 100% !important;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-wrapper ul {
  list-style: none;
}

.dropdown-trigger {
  display: flex;
}

.dropdown-icon {
  display: flex;
  margin-left: 2px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  color: #1a1a18;
  filter: drop-shadow(-1px -1px 0 #fff) drop-shadow(1px -1px 0 #fff)
    drop-shadow(-1px 1px 0 #fff) drop-shadow(1px 1px 0 #fff);
  transition: transform 0.3s ease, color 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg) !important;
}

.dropdown-trigger:hover .dropdown-icon {
  color: #3ed4ef;
}

.dropdown-menu {
  display: none !important;
  position: absolute;
  top: 100%;
  left: -300%;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.06);
  border: 1px solid #f0f0f0;
  min-width: 800px;
  max-width: 900px;
  z-index: 999;
  animation: dropdownFadeIn 0.3s ease-out;
  display: flex;
  gap: 1rem;
}
.dropdown-menu.open {
  display: flex !important;
}

.dropdown-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  margin: 0;
  padding: 0;
}

.dropdown-links a {
  display: block;
  padding: 0.7rem 1rem;
  color: #1a1a18;
  font-size: 1rem;
  text-decoration: none;
  border-left: 3px solid transparent;
  transition: all 0.3s ease;
  border-radius: 6px;
}

.dropdown-links a:hover {
  background-color: #f7fafa;
  color: #3ed4ef;
  border-left: 3px solid #3ed4ef;
}

.dropdown-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 500px;
}

.dropdown-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

@keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-only {
  display: none !important;
}

.desktop-only {
  display: flex;
}

.mobile-menu {
  display: none !important;
}

@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
  }

  .mobile-only {
    display: block !important;
  }

  .desktop-only {
    display: none;
  }

  .hamburger * {
    color: #3ed4ef !important;
  }

  .mobile-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f9fafa3f;
    backdrop-filter: blur(12px);
    color: #1a1a18;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: bottom 0.6s ease-in-out;
    z-index: 999;
    pointer-events: auto;
    overflow-y: scroll;
  }

  .mobile-menu.open {
    bottom: 0%;
  }

  .mobile-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1a1a18;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
    transition: color 0.3s ease;
    animation: fadeSlideIn 0.4s forwards;
  }

  .mobile-menu-link:hover {
    color: #3ed4ef;
  }

  .mobile-menu-link:hover .dropdown-icon {
    color: #3ed4ef;
  }

  .mobile-submenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    padding-left: 7rem;
    margin-top: -2rem;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease;
  }

  .mobile-submenu.open {
    opacity: 1;
    max-height: 500px;
    margin-top: -1.5rem;
  }

  .mobile-submenu a {
    color: #1a1a18;
    text-decoration: none;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
    transition: color 0.3s ease;
  }

  .mobile-submenu a:hover {
    color: #3ed4ef;
  }
}

@media (max-width: 768px) {
  .navbar-logo-img-desktop {
    height: 50px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-logo-img-mobile {
    display: block;
    height: 80px;
    transition: height 0.5s ease;
  }
  .navbar-logo-img-mobile.scrolled {
    height: 60px;
  }
  .navbar-logo-img-desktop {
    display: none;
  }
}
