@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");

.sc-section {
  display: flex;
  justify-content: flex-end;
  background-color: #f4f4f4;
}

.sc-container {
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  border-radius: 50px 0 0 0;
}

.sc-content {
  display: flex;
  background-color: #36308a;
  background-image: url("../assets/Stats Counter Assets/stats-counter-bg.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  gap: 3rem;
  position: relative;
  z-index: 1;
  border-radius: 50px 0 0 0;
  overflow: hidden;
}

.sc-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    hsla(189, 61%, 30%, 0.8),
    hsla(189, 61%, 65%, 0.6)
  );
  z-index: -1;
  /* border-radius: 50px 0 0 0; */
}

.sc-stat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.stat-value {
  display: flex;
  align-items: flex-end;
  font-family: "Unbounded", sans-serif;
  font-size: 4rem;
  margin-bottom: 8px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.odometer-inside {
  display: flex;
  font-family: "Unbounded", sans-serif;
}

.sc-stat-box p {
  font-size: 1rem;
  margin: 0;
  color: #fff;
}

.sc-image {
  width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 0 0 0 0;
}

@media (max-width: 1024px) {
  .sc-container {
    max-width: 90%;
    height: auto;
  }

  .sc-content {
    padding: 30px 20px;
    height: auto;
  }

  .sc-image {
    height: 100% !important;
    max-width: 160px;
    max-height: 300px;
    object-fit: cover;
  }

  .stat-value {
    font-size: 2.2rem;
  }
  .sc-stat-box p {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .sc-container {
    justify-content: flex-end;
  }

  .sc-image {
    display: none;
  }

  .sc-stat-box h2 {
    font-size: 2rem;
  }

  .sc-stat-box p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .sc-container {
    max-width: 100%;
  }

  .sc-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    gap: 0;
  }

  .sc-content::before {
    border-radius: 20px 20px 0 0;
  }

  .sc-stat-box h2 {
    font-size: 1.8rem;
  }

  .sc-stat-box p {
    font-size: 0.85rem;
  }
}
