.who-wrapper {
  background: #ffffff;
  padding: 6rem 2rem;
  position: relative;
}

.who-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.who-image {
  max-width: 650px;
  border-radius: 12px;
}

.who-we-are-img {
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(54, 48, 138, 0.1);
  transition: transform 0.3s ease;
  z-index: 2;
}

.who-we-are-img:hover {
  transform: scale(1.05);
}

.butterfly-img {
  position: absolute;
  top: -10%;
  left: 15%;
  width: 300px !important;
  box-shadow: none !important;
  z-index: 3;
  transition: transform 3s ease;
}
.butterfly-img:hover {
  transform: translate(350%, 50%);
}
.who-quote-icon {
  color: #3ed4ef;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.who-text {
  flex: 1 1 500px;
}

.who-text h2 {
  font-size: 4rem;
  color: #1a1a18;
  margin-bottom: 1rem;
}

.who-text p {
  font-size: 2rem;
  color: #36308a;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}
.who-btn {
  background: linear-gradient(90deg, #3ed4ef, #36308a);
  border: none;
  padding: 0.8rem 2rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.who-btn:hover {
  transform: translateY(-3px);
}

@media (max-width: 1024px) {
  .who-wrapper {
    padding: 3rem 2rem;
  }
  .who-we-are-img {
    max-width: 100%;
  }
  .butterfly-img {
    top: -10;
    left: 0;
  }

  .who-text h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 768px) {
  .who-wrapper {
    padding: 1rem 2rem;
  }
  .who-container {
    flex-direction: column;
    width: 80%;
    gap: 1rem;
  }

  .who-we-are-img {
    width: 600px;
  }
  .butterfly-img {
    width: 300px !important;
    top: -20%;
    left: 10%;
  }

  .who-text,
  .who-image {
    flex: 1 1 100%;
  }
  .who-text h2 {
    font-size: 2rem;
  }

  .who-text p {
    font-size: 1.1rem;
  }

  .who-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .who-wrapper {
    padding: 0 1rem;
    padding-bottom: 2rem;
    margin-top: -100px;
  }
  .who-container {
    width: 95%;
  }
  .butterfly-img {
    width: 200px !important;
    top: -20%;
    left: 0;
  }
  .who-text h2 {
    font-size: 1.8rem;
  }

  .who-text p {
    font-size: 1rem;
  }

  .who-btn {
    font-size: 0.95rem;
    padding: 0.7rem 1.5rem;
  }

  .who-image img {
    max-width: 100%;
  }
}
