@import url("https://fonts.googleapis.com/css2?family=Gidole&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  position: relative;
  background-color: #f4f4f4;
  font-family: "Gidole", sans-serif;
}
