.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.admin-layout .universal-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  z-index: 1000;
}

.admin-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
}

.admin-navbar {
  position: sticky;
  top: 0;
  z-index: 900;
  width: 100%;
}

.admin-page-content {
  padding: 30px;
  background-color: #f0f4f8;
  flex-grow: 1;
  min-height: calc(100vh - 70px);
  overflow-y: auto;
  border-top: 3px solid #3ed4ef;
  border-left: 3px solid #3ed4ef;
}

.admin-not-desktop {
  background-color: #ffffff;
  color: #1a1a18;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  font-weight: 500;
  font-size: 1.2rem;
}
